Credit Card Fraud Prediction.json
[{"id":"aa7d454d.68fd88","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d6ca9c85.1a0e8","type":"ui_form","z":"aa7d454d.68fd88","name":"","label":"","group":"e5820a73.ae63f8","order":1,"width":0,"height":0,"options":[{"label":"Gender","value":"Gender","type":"number","required":true,"rows":null},{"label":"Married","value":"Married","type":"number","required":true,"rows":null},{"label":"Dependents","value":"Dependents","type":"number","required":true,"rows":null},{"label":"Education","value":"Education","type":"number","required":true,"rows":null},{"label":"Self_Employed","value":"Self_Employed","type":"number","required":true,"rows":null},{"label":"ApplicantIncome","value":"ApplicantIncome","type":"number","required":true,"rows":null},{"label":"CoapplicantIncome","value":"CoapplicantIncome","type":"number","required":true,"rows":null},{"label":"LoanAmount","value":"LoanAmount","type":"number","required":true,"rows":null},{"label":"Loan_Term","value":"Loan_Term","type":"number","required":true,"rows":null},{"label":"Credit_History_Available","value":"Credit_History_Available","type":"number","required":true,"rows":null},{"label":"Housing","value":"Housing","type":"number","required":true,"rows":null},{"label":"Locality","value":"Locality","type":"number","required":true,"rows":null}],"formValue":{"Gender":"","Married":"","Dependents":"","Education":"","Self_Employed":"","ApplicantIncome":"","CoapplicantIncome":"","LoanAmount":"","Loan_Term":"","Credit_History_Available":"","Housing":"","Locality":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":280,"wires":[["3b0d749.919f68c","7140a349.03c3cc"]]},{"id":"3b0d749.919f68c","type":"debug","z":"aa7d454d.68fd88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":360,"wires":[]},{"id":"7140a349.03c3cc","type":"function","z":"aa7d454d.68fd88","name":"pre-token","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nvar apikey=\"Zbw1UXjVPTyzRZ_iyVq00vY67wf17YJ4j89xOAbPUCtZ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["6ac1ea30.f88cb4"]]},{"id":"6ac1ea30.f88cb4","type":"http request","z":"aa7d454d.68fd88","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":264.00000286102295,"wires":[["1f85b408.ea5b9c","3355a28c.f0367e"]]},{"id":"1f85b408.ea5b9c","type":"debug","z":"aa7d454d.68fd88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":320,"wires":[]},{"id":"3355a28c.f0367e","type":"function","z":"aa7d454d.68fd88","name":"Pre Prediction","func":"var Gender = global.get(\"Gender\")\nvar Married = global.get(\"Married\")\nvar Dependents = global.get(\"Dependents\")\nvar Education = global.get(\"Education\")\nvar Self_Employed = global.get(\"Self_Employed\")\nvar ApplicantIncome= global.get(\"ApplicantIncome\")\nvar CoapplicantIncome = global.get(\"CoapplicantIncome\")\nvar LoanAmount = global.get(\"LoanAmount\")\nvar Loan_Term = global.get(\"Loan_Term\")\nvar Credit_History_Available = global.get(\"Credit_History_Available\")\nvar Housing = global.get(\"Housing\")\nvar Locality = global.get(\"Locality\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Gender\", \"Married\", \"Dependents\", \"Education\", \"Self_Employed\", \"ApplicantIncome\", \"CoapplicantIncome\", \"LoanAmount\", \"Loan_Term\", \"Credit_History_Available\", \"Housing\", \"Locality\"]],\"values\": [[Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Term,Credit_History_Available,Housing,Locality]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":216.0000021457672,"wires":[["3648fa35.fbaca6"]]},{"id":"3648fa35.fbaca6","type":"http request","z":"aa7d454d.68fd88","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/b8b6b40d-4732-40f4-9e48-b4dc023ca74f/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":240,"wires":[["9cd9f733.ec8018","98379793.ddf7f8"]]},{"id":"9cd9f733.ec8018","type":"debug","z":"aa7d454d.68fd88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":962.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"27512b1c.5995b4","type":"inject","z":"aa7d454d.68fd88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["7140a349.03c3cc"]]},{"id":"76dd839b.33276c","type":"debug","z":"aa7d454d.68fd88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":793.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"98379793.ddf7f8","type":"function","z":"aa7d454d.68fd88","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":148.00000190734863,"wires":[["76dd839b.33276c","bdef12a6.4cf4e"]]},{"id":"bdef12a6.4cf4e","type":"ui_text","z":"aa7d454d.68fd88","group":"e5820a73.ae63f8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-left","x":757.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"e5820a73.ae63f8","type":"ui_group","z":"","name":"New","tab":"7130b025.daea2","order":1,"disp":true,"width":"6","collapse":false},{"id":"7130b025.daea2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
